<div class="board">
  <div class="column" *ngFor="let row of board; let i = index">
    <app-cell
      *ngFor="let cell of row; let j = index"
      [moveNumber]="cell"
      [highlight]="isPossibleMove(i, j)"
      (click)="onCellClick(i, j)"
      [firstColor]="isFirstColor(i, j)"
      [secondColor]="isSecondColor(i, j)"
      [hasKnight]="hasKnight(i, j)"
      >
    </app-cell>
  </div>
</div>
<div class="result-window">
  <p class="move-count">Move count: {{moveCount}}</p>
  <p class="result">Result: {{result}}</p>
</div>

