.board {
  display: grid;
  background-color: #ffffff;
  width: 90vw; 
  max-width: 500px;
  aspect-ratio: 1;

  border: 8px solid #BC6C25;
  border-radius: 15px;

  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.result-window {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  margin-top: 25px;
}

.result {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: bold;
  color: #283618;
}

.move-count {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: bold;
  color: #283618;
}